@import '../../../../assets/styles/variables.scss';
@import "../../forecast.component.scss";

.goodUt {
  color:  green;
}

.medUt {  
  color: orange;
}

.badUt {
  color: red;
}

.mat-stroked-button {
	margin: 5px;
	margin-left: 0;
}

.accordion-header {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding: 15px 45px 15px 15px;
    color: map-get($font-colors, black);
    margin-right: 8px;
  
    div {
      display: flex;
      flex-grow: 1;
      width: 0;
      margin-right: 0;
  
      &:first-child {
        padding-left: 10px;
      }
  
      &:last-child {
        flex-grow: 2;
        text-align: center;
      }
  
      span {
        flex: 1;
        word-break: break-word;
      }
    }
  }

  .tooltip{
    background: transparent;
    border: none;
  }