
<div class="reset-password-container">
  <div layout="row" layout-align="center">
    
    <mat-card>
      <mat-card-title>
        <div>
          <img class="logo" src="{{'assets/img/cap_logo_p.png'}}">
        </div>
       
      </mat-card-title>

      <mat-card-content>
        
        <form layout="column" class="pad" (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm" >
          <br>
          <mat-label class="reset-password-label">Reset your password</mat-label>
          <div>Your password should have the following properties:</div>
          <ul>
            <li>at least 8 characters</li>
            <li>at least one uppercase and lowercase letters</li>
            <li>at least one number</li>
            <li>at least one special character (!_$@#/? etc.)</li>
          </ul>
          <div [formGroup]="resetPasswordGroup">
            <mat-form-field flex>
              <input matInput type="password" placeholder="New password" formControlName="newPassword" required>
            </mat-form-field>
  
            <mat-form-field flex>
              <input class="form-control" matInput type="password" placeholder="Confirm your new password" formControlName="confirmPassword" required pattern="{{ resetPasswordGroup.controls.newPassword.value }}">
            </mat-form-field>
            <div class="invalid-feedback">
              <span *ngIf="resetPasswordGroup.errors?.passwordMatch">
                Your password doesn't match with above.
              </span>
            </div>
          </div>

          <button class="reset-button" mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordGroup.valid || resetActive">Reset Password</button>
          
        </form>
        
        <div class="spinner-container" [ngClass]="{'active': resetActive}">
          <mat-progress-spinner
            class="progress-spinner" color="primary" mode="indeterminate">
          </mat-progress-spinner>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
