<table mat-table matSort [dataSource]="subco">
  <ng-container matColumnDef="active">
    <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
  </ng-container>
    <ng-container  matColumnDef="name" >
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>Name</th>
      <td mat-cell  *matCellDef="let subco">{{subco.resourceName}}</td>
    </ng-container>
  
    <ng-container  matColumnDef="type">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>Type</th>
      <td mat-cell  *matCellDef="let subco">{{ subco.subCoType }}</td> 
    </ng-container>
  
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="action-button"></th>
      <!--<td mat-cell *matCellDef="let user" class="action-button" (click)="openUserDialog(user)"><mat-icon>edit</mat-icon></td> -->
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="[ 'active','name', 'type', 'edit']"></tr>
    <tr mat-row  *matRowDef="let row; columns: [ 'active','name', 'type', 'edit'];" ></tr>
</table>

<div class="button-row">
    <button mat-raised-button (click)="addNewSubco()" color="primary">
      <mat-icon>person_add</mat-icon> Add Subco
    </button> 
</div>