<div>
	<mat-form-field>
	  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="search by Name">
	</mat-form-field>
	<mat-form-field appearance="fill" class="no-label-field">
	  <mat-label>Type</mat-label>
	  <mat-select [formControl]="subCoTypeFilter" multiple>
      <mat-option *ngFor="let type of types" [value]="type.subcontractorTypeId">{{type.subcontractorTypeName}}</mat-option>
	  </mat-select>
	</mat-form-field>
  <mat-form-field appearance="fill" class="no-label-field">
	  <mat-label>Engement Manager Name</mat-label>
	  <mat-select [formControl]="managerFilter" multiple>
      <mat-option *ngFor="let name of engagementManagerName" 
              [value]="name">
              {{name}}</mat-option>
	  </mat-select>
	</mat-form-field>
	<button mat-raised-button color="primary" (click)="clearFilter()">Clear Filter</button>
</div>



<table mat-table matSort [dataSource]="subco" style="padding-left: 60px;">
    <ng-container  matColumnDef="name" >
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>Name</th>
      <td mat-cell  *matCellDef="let subco">{{subco.resourceName}}</td>
    </ng-container>
  
    <ng-container  matColumnDef="type">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>Type</th>
      <td mat-cell  *matCellDef="let subco">{{ subco.subcontractorTypeName }}</td> 
    </ng-container>

    <ng-container  matColumnDef="emId">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>Engagement Manager</th>
      <td mat-cell  *matCellDef="let subco">{{ subco.subcontractorEngagementManager }}</td> 
    </ng-container>
  
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="action-button"></th>
      <td mat-cell *matCellDef="let subco" class="action-button" (click)="openUserDialog(subco)"><mat-icon>edit</mat-icon></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="[ 'name', 'type', 'emId', 'edit']"></tr>
    <tr mat-row  *matRowDef="let row; columns: [ 'name', 'type', 'emId', 'edit'];" ></tr>
</table>

<div class="button-row">
    <button mat-raised-button (click)="addNewSubco()" color="primary">
      <mat-icon>person_add</mat-icon> Add Subco
    </button> 
</div>