<table mat-table matSort [dataSource]="">
    <ng-container matColumnDef="active">
      <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
      <!--td mat-cell *matCellDef="let user" class="flag-button">
        <mat-slide-toggle color="primary" [checked]="user.active" [(ngModel)]="user.active" (change)="setUserActiveState(user.id, user.active)"></mat-slide-toggle>
      </td> -->
    </ng-container>
  
    <ng-container  matColumnDef="name">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>Name</th>
     <!-- <td mat-cell  *matCellDef="let user">{{user.lastName}}, {{user.firstName}}</td> -->
     <td mat-cell>
        Lastname, Firstname
    </td>
    </ng-container>
  
    <ng-container  matColumnDef="projectCode">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>Project code</th>
     <!-- <td mat-cell  *matCellDef="let user">{{ user.email }}</td> -->
     <td mat-cell>
      12345 
    </td>
    </ng-container>
  
    <ng-container  matColumnDef="projectName">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>Project name</th>
     <!-- <td mat-cell *matCellDef="let user">{{ getRole(user.roleId) }}</td> -->
     <td>
        Project ABC
    </td>
    </ng-container>
  
    <ng-container  matColumnDef="engagementManager">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>Engagement manager</th>
     <!-- <td mat-cell *matCellDef="let user">{{ getGrade(user.gradeId) }}</td>-->
     <td mat-cell>
        Manager Name
    </td>
    </ng-container>
  
    <ng-container  matColumnDef="customer">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef>Customer</th>
     <!-- <td mat-cell *matCellDef="let user">{{ getTeamlead(user.parentId) }}</td> -->
     <td mat-cell>
        ABC
     </td>
    </ng-container>
  
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="action-button"></th>
      <!--<td mat-cell *matCellDef="let user" class="action-button" (click)="openUserDialog(user)"><mat-icon>edit</mat-icon></td> -->
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="[ 'active', 'name', 'projectCode', 'projectName', 'engagementManager', 'customer', 'edit']"></tr>
    <tr mat-row  *matRowDef="let row; columns: [ 'active', 'name', 'projectCode', 'projectName', 'engagementManager', 'customer', 'edit'];" ></tr>
</table>

<div class="button-row">
    <!--<button mat-raised-button (click)="addNewUser()" color="primary">
      <mat-icon>person_add</mat-icon> Add User
    </button> -->
    <button mat-raised-button color="primary">
        <mat-icon>subco_add</mat-icon> Add Subco
    </button>
</div>