@import '../../../../assets/styles/variables.scss';
@import "../../forecast.component.scss";

.forecast-container {
	margin: 16px;
}

.mat-icon {
	font-size: 16px;
	line-height: 16px;
	margin-right: 5px;

	&:hover {
		color: map-get($font-colors, grey-light);
	}

	&.icon-edited, &.icon-edited:hover {
		color: map-get($font-colors, red);
	}
}



