@import '../../assets/styles/variables.scss';

.login-container {
  display: flex;
  height: 100%;
  background: url(../../assets/img/capgemini-shape.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
 
  > div {
    margin: auto;
  }
}

.mat-card {
  width: 320px;
  padding: 20px;
  box-shadow: 0 4px 8px 2px rgba(0,0,0,.06) !important;
  background-color: rgba(255,255,255,0.9);
  
  .mat-card-title {
    display: flex;
    height: 36px;
    line-height: 36px;
    margin: 5px 0;
    padding: 0;

    div {
      display: inline-block;
      height: inherit;
      font-size: 1.25rem;
      font-weight: 700;
      color: map-get($font-colors, blue);
    }

    .logo {
      height: inherit;
      margin-right: 10px;
    }
  }

  .mat-card-content {
    padding: 0;

    form {
      padding: 0;
    }

    .mat-form-field {
      line-height: 1;
      
    }

    .login-button {
      margin-bottom: 12px;
    }

    .reset-link {
      font-size: 0.85rem;
      color: map-get($font-colors, blue);
      text-align: center;
      
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }    
    
  }
}



.spinner-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;

  &.active {
    display: block;
  }
}