.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}
.custom-dimension {
  height: 80% !important;
  width: 100% !important;
  margin: 0 auto;
}

.chart-dimension {
  padding-top: 25px;
  height: 80% !important;
  width: 80% !important;
  margin: 0 auto;
}
.h-100 {
  height: 100%;
}

.h-80vh {
  max-height: 80vh;
}
.p-16 {
  padding: 16px;
}

.p-8 {
  padding: 8px;
}

.p-32 {
  padding: 32px;
}

.pt-16 {
  padding-top: 16px;
}

.m-0 {
  margin: 0;
}

.bg-white {
  background: #ffffff;
}
.float-left {
  float: left;
}
