<form class="project-form">
  <mat-card class="project-container" id="project-{{ monthId }}-{{ i }}">
    <mat-card-content class="project">
      <div layout="row" layout-fill>
        <div [attr.flex]="hasLeadRole() ? 55 : 75" class="project-element">
          <ng-container *ngIf="!isMandatory(project.projectId)">
            <mat-form-field
              appearance="outline"
              class="no-padding"
              id="projectId-{{ monthId }}-{{ i }}"
            >
              <input
                type="text"
                onClick="this.select()"
                (focus)="onProjectInputFocus()"
                (blur)="onProjectInputBlur()"
                placeholder="Project"
                matInput
                [formControl]="projectControl"
                [matAutocomplete]="auto"
                (ngModelChange)="applyFilter($event)"
                required
              />
              <mat-label>Project</mat-label>
            </mat-form-field>
            <mat-autocomplete
              #auto="matAutocomplete"
              autoActiveFirstOption
              [displayWith]="displayProjectName.bind(this)"
              (opened)="clearProjectId()"
              (closed)="callDataUpdate()"
            >
              <ng-container *ngFor="let p of filteredProjects">
                <mat-option *ngIf="!isMandatory(p.id)" [value]="p.id">{{
                  p.name
                }}</mat-option>
              </ng-container>
              <mat-option class="request-project-btn" (click)="addProjectMail()"
                >Request Project</mat-option
              >
            </mat-autocomplete>
          </ng-container>

          <div
            class="mat-form-field-clone"
            [ngClass]="{ 'not-locked': !fcIsLocked() }"
            *ngIf="isMandatory(project.projectId)"
          >
            <input
              type="text"
              disabled
              value="{{ projectName(project.projectId) }}"
            />
            <span class="label">Default Project</span>
          </div>
        </div>

        <!-- Cost Rate -->
        <div flex="25" class="project-element">
          <mat-form-field appearance="outline">
            <mat-label>
              Cost Rate
            </mat-label>

            <input
              type="number"
              onClick="this.select()"
              matInput
              name="costRate-{{ monthId }}-{{ i }}"
              [(ngModel)]="project.costRate"
              required
              min="0"
              (ngModelChange)="callDataUpdate()"
              [disabled]="fcIsLocked()"
              (blur)="onProjectDaysBlur($event)"
              #projectDaysInput
              matTooltip="{{ history('days', i) }}"
              matTooltipPosition="above"
              matTooltipDisabled="{{ !history('days', i) }}"
            />

          </mat-form-field>
        </div>

        <!--COR-->
        <div
          flex="25"
          *ngIf="hasLeadRole() || hasPLRole()"
          class="project-element"
        >
          <mat-form-field
            appearance="outline"
            matTooltip="{{ history('cor', i) }}"
            matTooltipPosition="above"
            matTooltipDisabled="{{ !history('cor', i) }}"
          >
            <mat-label>
              COR
            </mat-label>

            <!-- [disabled]="
              isFixedInternal(project.projectId) ||
              fcIsLocked() ||
              !project.billable
            " -->
            <input
              matInput
              type="number"
              onClick="this.select()"
              name="cor-{{ monthId }}-{{ i }}"
              [(ngModel)]="project.cor"
              required
              min="1"
              (ngModelChange)="callDataUpdate()"
            />
          </mat-form-field>
        </div>

        <!--ManDay-->
        <div
          flex="25"
          *ngIf="hasLeadRole() || hasPLRole()"
          class="project-element"
        >
          <mat-form-field
            appearance="outline"
            matTooltip="{{ history('manDay', i) }}"
            matTooltipPosition="above"
            matTooltipDisabled="{{ !history('manDay', i) }}"
          >
            <mat-label>
              ManDay
            </mat-label>

            <!-- [disabled]="
              isFixedInternal(project.projectId) ||
              fcIsLocked() ||
              !project.billable
            " -->
            <input
              matInput
              type="number"
              onClick="this.select()"
              name="plannedProjectDays-{{ monthId }}-{{ i }}"
              [(ngModel)]="project.plannedProjectDays"
              required
              min="1"
              (ngModelChange)="callDataUpdate()"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div *ngIf="project.errors">
    <ng-container *ngFor="let error of project.errors">
      <mat-error [ngClass]="toErrorClass(error)">{{ error }}</mat-error>
    </ng-container>
  </div>
</form>
