<form class="project-form">
  <mat-card class="project-container" id="project-{{ monthId }}">
    <mat-card-content class="project">
      <div layout="row" layout-fill>
        <div [attr.flex]="30" class="project-element">
          <ng-container *ngIf="!fcIsLocked()">
            <mat-form-field
              appearance="outline"
              class="no-padding"
              id="projectId-{{ monthId }}"
            >
              <input
                type="text"
                onClick="this.select()"
                (focus)="onProjectInputFocus()"
                (blur)="onProjectInputBlur()"
                placeholder="Project"
                matInput
                [formControl]="projectControl"
                [matAutocomplete]="auto"
                (ngModelChange)="applyFilter($event)"
                required
              />
              <mat-label>Project</mat-label>
            </mat-form-field>
            <mat-autocomplete
              #auto="matAutocomplete"
              autoActiveFirstOption
              [displayWith]="displayProjectName.bind(this)"
              (opened)="clearProjectId()"
              (closed)="callDataUpdate()"
            >
              <ng-container *ngFor="let p of filteredProjects">
                <mat-option [value]="p.id">{{
                  p.name
                }}</mat-option>
              </ng-container>
              <mat-option class="request-project-btn" (click)="addProjectMail()"
                >Request Project</mat-option
              >
            </mat-autocomplete>
          </ng-container>

          <div
            class="mat-form-field-clone"
            *ngIf="fcIsLocked()"
            [ngClass]="{ 'not-locked': !fcIsLocked() }"
          >
            <input
              type="text"
              disabled
              value="{{ projectName(subcoDetails.projectId) }}"
            />
            <span class="label">Project</span>
          </div>
        </div>

        <!-- Cost Rate -->
        <div flex="15" class="project-element">
          <mat-form-field appearance="outline">
            <mat-label>
              Cost Rate
            </mat-label>

            <input
              type="number"
              onClick="this.select()"
              matInput
              name="costRate-{{ monthId }}"
              [(ngModel)]="subcoDetails.costRate"
              required
              min="0"
              (ngModelChange)="callDataUpdate()"
              [disabled]="fcIsLocked()"
              (blur)="onProjectDaysBlur($event)"
              #projectDaysInput
              matTooltip="{{ history('days') }}"
              matTooltipPosition="above"
              matTooltipDisabled="{{ !history('days') }}"
            />

          </mat-form-field>
        </div>

        <!--COR-->
        <div
          flex="15"
          class="project-element"
        >
          <mat-form-field
            appearance="outline"
            matTooltip="{{ history('cor') }}"
            matTooltipPosition="above"
            matTooltipDisabled="{{ !history('cor') }}"
          >
            <mat-label>
              COR
            </mat-label>
            <input
              matInput
              type="number"
              onClick="this.select()"
              name="cor-{{ monthId }}"
              [(ngModel)]="subcoDetails.cor"
              [disabled]="fcIsLocked()"
              required
              min="1"
              (ngModelChange)="callDataUpdate()"
            />
          </mat-form-field>
        </div>

        <!--ManDay-->
        <div
          flex="15"
          class="project-element"
        >
          <mat-form-field
            appearance="outline"
            matTooltip="{{ history('manDay') }}"
            matTooltipPosition="above"
            matTooltipDisabled="{{ !history('manDay') }}"
          >
            <mat-label>
              ManDay
            </mat-label>

            <!-- [disabled]="
              isFixedInternal(project.projectId) ||
              fcIsLocked() ||
              !project.billable
            " -->
            <input
              matInput
              type="number"
              onClick="this.select()"
              name="manDay-{{ monthId }}"
              [(ngModel)]="subcoDetails.manDay"
              [disabled]="fcIsLocked()"
              required
              min="1"
              (ngModelChange)="callDataUpdate()"
            />
          </mat-form-field>
        </div>

        <!--Probabilities-->
        <div flex="35" class="project-element">
          <mat-button-toggle-group
            name="probabilityId-{{ monthId }}-{{ i }}"
            [(ngModel)]="subcoDetails.probabilityId"
            required
            (ngModelChange)="callDataUpdate()"
            [disabled]="fcIsLocked()"
            matTooltip="{{ history('probabilityId', i) }}"
            matTooltipPosition="above"
            matTooltipDisabled="{{ !history('probabilityId', i) }}"
          >
            <mat-button-toggle
              *ngFor="let p of availableProbabilities"
              [value]="p.id"
              >{{ p.name }}</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div *ngIf="project.errors">
    <ng-container *ngFor="let error of project.errors">
      <mat-error [ngClass]="toErrorClass(error)">{{ error }}</mat-error>
    </ng-container>
  </div>
</form>
