.Flying-Button.team .Content {
  width: 93px;
  height: 24px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0;
}

.Flying-Button.team .Add-Team {
  width: 64px;
  height: 16px;
  flex-grow: 0;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Flying-Button.team .TypeTeam-StateDefault {
  width: 113px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5.5px 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #0070ad;
  border: #0070ad;
}


.Flying-Button.team .TypeTeam-StateDefault:active {
  width: 113px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5.5px 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #005482;
  border: #005482;
}

.Flying-Button.team .TypeTeam-StateOn-Click {
  width: 113px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5.5px 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #005482;
  border: #005482;
}
