.storybook-button {
  position: relative;
  width: 123px;
  height: 215px;
  
  border: 1px dashed #7B61FF;
  box-sizing: border-box;
  border-radius: 5px;
}
.storybook-button--primary {
  height: 30px;
  width: 83px;
  border: 1px solid #0070ad;
  background: #ffffff;
}
.storybook-button--secondary {
  height: 30px;
  width: 70px;
  background: #005482;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
