.button-save-cancel {
  width: 70px;
  height: 30px;
}
.button-save-cancel--save {
  height: 16px;
  width: 30px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}
.button-save-cancel--cancel {
  height: 16px;
  width: 43px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #0070ad; 
}
.button-save-cancel--save-default {
  height: 30px;
  width: 70px;
  background: #0070ad;
}
.button-save-cancel--save-pressed {
  height: 30px;
  width: 70px;
  background: #005482;
}
.button-save-cancel--cancel-default {
  height: 30px;
  width: 83px;
  border: 1px solid #0070ad;
  background: #f1f5f8;
}
.button-save-cancel--cancel-pressed {
  height: 30px;
  width: 83px;
  border: 1px solid #0070ad;
  background: #ffffff;
}
