<div class="second-header">
    <h1>
        KPI Overview

        <button class="executive-btn" mat-raised-button color="primary" (click)="exportCSV()">
            <mat-icon>insert_chart</mat-icon> Download CSV
        </button>
    </h1>
</div>

<table mat-table matSort [dataSource]="kpis">
    <ng-container matColumnDef="kpi">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>KPI</th>
        <td mat-cell *matCellDef="let element">{{mapKpiToName(element)}}</td>
    </ng-container>
    <ng-container matColumnDef="{{month.name}}" *ngFor="let month of months">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{month.name}}</th>
        <td mat-cell *matCellDef="let element">{{mapKpiToValue(element, month.id) | number: '1.0-2'}}
            {{mapKpiToUnit(element)}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>