@import "../../forecast.component.scss";

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}

.p-16 {
  padding: 16px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.pt-5 {
  padding-top: 5px;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.white {
  color: #ffffff;
}

.fix {
  display: flex;
  color: #ffffff;
  background-color: #0070ad;
  height: 50px;
  padding: 0px;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 3.3;
}

.fix .title {
  color: #fff;
  padding-left: 14px;
}
.stats-table-header {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 12px;
}

.stats-table-header:first-of-type {
  font-family: "Roboto", sans-serif;
  text-align: left;
  padding: 12px;
}

.stats-table-cell:first-of-type {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 12px;
  line-height: 1.3em;
  padding: 12px;
}

.stats-table-cell {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 1.3em;
  padding: 12px;
}

.border-collapse {
  border-collapse: collapse;
}

.border-line {
  border-bottom: 1px solid #e0e0e0;
  border-collapse: separate;
  border-spacing: 4px;
}

.color-grey {
  color: grey;
}

.mat-stroked-button {
	margin: 5px;
	margin-left: 0;
}

.button-rows {
	display: flex;
	.button-row {
    width: 50%
  }
}