<h2  mat-dialog-title>Vacation-Warning</h2>
<mat-dialog-content class="content" style="font-size: small;">
        Your vacation days are set to <strong>0</strong>. <br/>
        Are you sure you want to proceeed?
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button class="mat-primary" mat-dialog-close cdkFocusInitial [mat-dialog-close]="false">Go Back</button>
    <button mat-stroked-button class="mat-primary-reversed align-right"mat-button [mat-dialog-close]="true">Proceed</button>
</mat-dialog-actions>