<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="search by Name or ID">
  </mat-form-field>
  <mat-form-field appearance="fill" class="no-label-field">
      <mat-label>Roles</mat-label>
      <mat-select [formControl]="roleFilter" multiple>
        <mat-option *ngFor="let role of roles" [value]="role.roleId">{{role.shortcut}}</mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="no-label-field">
      <mat-label>Grades</mat-label>
      <mat-select [formControl]="gradeFilter" multiple>
        <mat-option *ngFor="let grade of grades" [value]="grade.gradeId">{{grade.shortcut}}</mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="no-label-field">
    <mat-label>Teamleads</mat-label>
    <mat-select [formControl]="teamleadFilter" multiple>
      <mat-option *ngFor="let teamlead of teamleads" [value]="teamlead.id">
        {{teamlead.lastName}}, {{teamlead.firstName}} 
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="clearFilter()"> Clear Filter</button>
</div>

<table mat-table matSort [dataSource]="user">
  <ng-container matColumnDef="active">
    <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let user" class="flag-button">
      <mat-slide-toggle color="primary" [checked]="user.active" [(ngModel)]="user.active" (change)="setUserActiveState(user.id, user.active)"></mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="globalId">
    <th mat-header-cell  mat-sort-header *matHeaderCellDef>Capgemini ID</th>
    <td mat-cell  *matCellDef="let user">{{user.globalId}}</td>
  </ng-container>

  <ng-container  matColumnDef="lastName">
    <th mat-header-cell  mat-sort-header *matHeaderCellDef>Name</th>
    <td mat-cell  *matCellDef="let user">{{user.lastName}}, {{user.firstName}}</td>
  </ng-container>

  <ng-container  matColumnDef="email">
    <th mat-header-cell  mat-sort-header *matHeaderCellDef>Email</th>
    <td mat-cell  *matCellDef="let user">{{ user.email }}</td>
  </ng-container>

<!--   <ng-container  matColumnDef="fte">
    <th mat-header-cell  mat-sort-header *matHeaderCellDef>FTE</th>
    <td mat-cell *matCellDef="let user">{{ user.fte }}</td>
  </ng-container> -->

  <ng-container  matColumnDef="roleId">
    <th mat-header-cell  mat-sort-header *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let user">{{ getRole(user.roleId) }}</td>
  </ng-container>

  <ng-container  matColumnDef="gradeId">
    <th mat-header-cell  mat-sort-header *matHeaderCellDef>Grade</th>
    <td mat-cell *matCellDef="let user">{{ getGrade(user.gradeId) }}</td>
  </ng-container>

  <ng-container  matColumnDef="parentId">
    <th mat-header-cell  mat-sort-header *matHeaderCellDef>Teamlead</th>
    <td mat-cell *matCellDef="let user">{{ getTeamlead(user.parentId) }}</td>
  </ng-container>

  <ng-container  matColumnDef="admin">
    <th mat-header-cell  mat-sort-header *matHeaderCellDef>Permissions</th>
    <td mat-cell *matCellDef="let user">{{ user.admin ? 'Administrator' : '-' }}</td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef class="action-button"></th>
    <td mat-cell *matCellDef="let user" class="action-button" (click)="openUserDialog(user)"><mat-icon>edit</mat-icon></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="[ 'active', 'globalId', 'lastName', 'email', 'roleId', 'gradeId', 'parentId', 'admin', 'edit']"></tr>
  <tr mat-row  *matRowDef="let row; columns: [ 'active', 'globalId', 'lastName', 'email', 'roleId', 'gradeId', 'parentId', 'admin','edit'];" ></tr>
</table>

<div class="button-row">
  <app-flying-button type="user" label="Add User" (click)="addNewUser()"></app-flying-button>
  <!-- <button mat-raised-button (click)="addNewUser()" color="primary">
    <mat-icon>person_add</mat-icon> Add User
  </button> -->
</div>