<div class="loading-overlay" [ngClass]="{'hide': fcLoaded}"></div>

<div class="spinner-container" [ngClass]="{'active': loadingActive}">
    <mat-progress-spinner class="progress-spinner" color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

<!-- <mat-divider></mat-divider> -->

<div class="project-list" >
    <app-subco-fc-project [forecast]="forecast" [project]="project" [monthId]="month.id" [userId]="userId" [lastEditor]="lastEditor"></app-subco-fc-project>
</div>

<div class="multi-view-box">
  <mat-form-field appearance="outline">
    <mat-label>Comments</mat-label>
    <textarea matInput [(ngModel)]="forecast.comment" name="comment" placeholder="Leave a comment" maxLength="500"
      [disabled]="fcIsLocked()" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="6"></textarea>
  </mat-form-field>

  <div class="summary-warning error" *ngIf="totalDays() > (forecast.totalDays | number: '1.0-2')">
    <mat-icon class="icon">error</mat-icon>
    It is not possible to assign more than <strong>{{forecast.totalDays | number: '1.0-2': 'de'}} days</strong> for this month!<br>
    There are currently <strong>{{totalDays() | number: '1.0-2': 'de'}} days</strong> assigned.
  </div>
</div>

<div class="button-row">

  <button mat-stroked-button *ngIf="!fcIsLocked()" class="mat-primary-reversed align-right"
  (click)="copyData()">
    <mat-icon>content_copy</mat-icon> Copy Data
  </button>
  
  <button mat-stroked-button *ngIf="!fcIsLocked()" class="mat-primary-reversed align-right"
    (click)="submitForecast()" [disabled]="totalDays() > forecast.totalDays  || hasProjectInputFocus || !isProjectInputValid || !isCorValueBiggerThanZero">
    <mat-icon>lock</mat-icon> Submit
  </button>

  <button mat-stroked-button *ngIf="!fcIsLocked()" class="mat-primary-reversed align-right"
    (click)="saveForecast()" [disabled]="totalDays() > forecast.totalDays  || hasProjectInputFocus || !isProjectInputValid || !isCorValueBiggerThanZero">
    <mat-icon>save</mat-icon> Save
  </button>

  <button mat-stroked-button *ngIf="fcIsLocked() && hasUnlockPermission(2)" class="mat-primary-reversed align-right"
    (click)="unlockForecast()">
    <mat-icon>lock_open</mat-icon> Unlock
  </button>
</div>